/*
 * (C) Copyright 2014 Hewlett-Packard Development Company, L.P.
 */


$h1-font-size: 30px;
$h2-font-size: 30px;
$h3-font-size: 19px;
$h4-font-size: 19px;
$h5-font-size: 16px;
$h6-font-size: 14px;
$h7-font-size: 14px;
$h8-font-size: 13px;
$h9-font-size: 12px;

$hpbold: "HPSimplified", "Helvetica", Helvetica, Arial, sans-serif;
$hpregular: "HPSimplified", "Helvetica", Helvetica, Arial, sans-serif;
$hplight: "HPSimplifiedLight", "Helvetica", Helvetica, Arial, sans-serif;
$paragraph-font-family: "HPSimplified", "Helvetica", Helvetica, Arial, sans-serif;
$icon-font-family:"hp-fortify-icons";