
.iconx-glass:before { content: '\e800'; } 
.iconx-music:before { content: '\e801'; } 
.iconx-search:before { content: '\e802'; } 
.iconx-mail:before { content: '\e803'; } 
.iconx-mail-alt:before { content: '\e804'; } 
.iconx-mail-squared:before { content: '\e805'; } 
.iconx-heart:before { content: '\e806'; } 
.iconx-heart-empty:before { content: '\e807'; } 
.iconx-star:before { content: '\e808'; } 
.iconx-star-empty:before { content: '\e809'; } 
.iconx-star-half:before { content: '\e80a'; } 
.iconx-star-half-alt:before { content: '\e80b'; } 
.iconx-user:before { content: '\e80c'; } 
.iconx-users:before { content: '\e80d'; } 
.iconx-male:before { content: '\e80e'; } 
.iconx-female:before { content: '\e80f'; } 
.iconx-child:before { content: '\e810'; } 
.iconx-video:before { content: '\e811'; } 
.iconx-videocam:before { content: '\e812'; } 
.iconx-picture:before { content: '\e813'; } 
.iconx-camera:before { content: '\e814'; } 
.iconx-camera-alt:before { content: '\e815'; } 
.iconx-th-large:before { content: '\e816'; } 
.iconx-th:before { content: '\e817'; } 
.iconx-th-list:before { content: '\e818'; } 
.iconx-ok:before { content: '\e819'; } 
.iconx-ok-circled:before { content: '\e81a'; } 
.iconx-ok-circled2:before { content: '\e81b'; } 
.iconx-ok-squared:before { content: '\e81c'; } 
.iconx-cancel:before { content: '\e81d'; } 
.iconx-cancel-circled:before { content: '\e81e'; } 
.iconx-cancel-circled2:before { content: '\e81f'; } 
.iconx-plus:before { content: '\e820'; } 
.iconx-plus-circled:before { content: '\e821'; } 
.iconx-plus-squared:before { content: '\e822'; } 
.iconx-plus-squared-alt:before { content: '\e823'; } 
.iconx-minus:before { content: '\e824'; } 
.iconx-minus-circled:before { content: '\e825'; } 
.iconx-minus-squared:before { content: '\e826'; } 
.iconx-minus-squared-alt:before { content: '\e827'; } 
.iconx-help:before { content: '\e828'; } 
.iconx-help-circled:before { content: '\e829'; } 
.iconx-info-circled:before { content: '\e82a'; } 
.iconx-info:before { content: '\e82b'; } 
.iconx-home:before { content: '\e82c'; } 
.iconx-link:before { content: '\e82d'; } 
.iconx-unlink:before { content: '\e82e'; } 
.iconx-link-ext:before { content: '\e82f'; } 
.iconx-link-ext-alt:before { content: '\e830'; } 
.iconx-attach:before { content: '\e831'; } 
.iconx-lock:before { content: '\e832'; } 
.iconx-lock-open:before { content: '\e833'; } 
.iconx-lock-open-alt:before { content: '\e834'; } 
.iconx-pin:before { content: '\e835'; } 
.iconx-eye:before { content: '\e836'; } 
.iconx-eye-off:before { content: '\e837'; } 
.iconx-tag:before { content: '\e838'; } 
.iconx-tags:before { content: '\e839'; } 
.iconx-bookmark:before { content: '\e83a'; } 
.iconx-bookmark-empty:before { content: '\e83b'; } 
.iconx-flag:before { content: '\e83c'; } 
.iconx-flag-empty:before { content: '\e83d'; } 
.iconx-flag-checkered:before { content: '\e83e'; } 
.iconx-thumbs-up:before { content: '\e83f'; } 
.iconx-thumbs-down:before { content: '\e840'; } 
.iconx-thumbs-up-alt:before { content: '\e841'; } 
.iconx-thumbs-down-alt:before { content: '\e842'; } 
.iconx-download:before { content: '\e843'; } 
.iconx-upload:before { content: '\e844'; } 
.iconx-download-cloud:before { content: '\e845'; } 
.iconx-upload-cloud:before { content: '\e846'; } 
.iconx-reply:before { content: '\e847'; } 
.iconx-reply-all:before { content: '\e848'; } 
.iconx-forward:before { content: '\e849'; } 
.iconx-quote-left:before { content: '\e84a'; } 
.iconx-quote-right:before { content: '\e84b'; } 
.iconx-code:before { content: '\e84c'; } 
.iconx-export:before { content: '\e84d'; } 
.iconx-export-alt:before { content: '\e84e'; } 
.iconx-share:before { content: '\e84f'; } 
.iconx-share-squared:before { content: '\e850'; } 
.iconx-pencil:before { content: '\e851'; } 
.iconx-pencil-squared:before { content: '\e852'; } 
.iconx-edit:before { content: '\e853'; } 
.iconx-print:before { content: '\e854'; } 
.iconx-retweet:before { content: '\e855'; } 
.iconx-keyboard:before { content: '\e856'; } 
.iconx-gamepad:before { content: '\e857'; } 
.iconx-comment:before { content: '\e858'; } 
.iconx-chat:before { content: '\e859'; } 
.iconx-comment-empty:before { content: '\e85a'; } 
.iconx-chat-empty:before { content: '\e85b'; } 
.iconx-bell:before { content: '\e85c'; } 
.iconx-bell-alt:before { content: '\e85d'; } 
.iconx-attention-alt:before { content: '\e85e'; } 
.iconx-attention:before { content: '\e85f'; } 
.iconx-attention-circled:before { content: '\e860'; } 
.iconx-location:before { content: '\e861'; } 
.iconx-direction:before { content: '\e862'; } 
.iconx-compass:before { content: '\e863'; } 
.iconx-trash:before { content: '\e864'; } 
.iconx-doc:before { content: '\e865'; } 
.iconx-docs:before { content: '\e866'; } 
.iconx-doc-text:before { content: '\e867'; } 
.iconx-doc-inv:before { content: '\e868'; } 
.iconx-doc-text-inv:before { content: '\e869'; } 
.iconx-file-pdf:before { content: '\e86a'; } 
.iconx-file-word:before { content: '\e86b'; } 
.iconx-file-excel:before { content: '\e86c'; } 
.iconx-file-powerpoint:before { content: '\e86d'; } 
.iconx-file-image:before { content: '\e86e'; } 
.iconx-file-archive:before { content: '\e86f'; } 
.iconx-file-audio:before { content: '\e870'; } 
.iconx-file-video:before { content: '\e871'; } 
.iconx-file-code:before { content: '\e872'; } 
.iconx-folder:before { content: '\e873'; } 
.iconx-folder-open:before { content: '\e874'; } 
.iconx-folder-empty:before { content: '\e875'; } 
.iconx-folder-open-empty:before { content: '\e876'; } 
.iconx-box:before { content: '\e877'; } 
.iconx-rss:before { content: '\e878'; } 
.iconx-rss-squared:before { content: '\e879'; } 
.iconx-phone:before { content: '\e87a'; } 
.iconx-phone-squared:before { content: '\e87b'; } 
.iconx-fax:before { content: '\e87c'; } 
.iconx-menu:before { content: '\e87d'; } 
.iconx-cog:before { content: '\e87e'; } 
.iconx-cog-alt:before { content: '\e87f'; } 
.iconx-wrench:before { content: '\e880'; } 
.iconx-sliders:before { content: '\e881'; } 
.iconx-basket:before { content: '\e882'; } 
.iconx-calendar:before { content: '\e883'; } 
.iconx-calendar-empty:before { content: '\e884'; } 
.iconx-login:before { content: '\e885'; } 
.iconx-logout:before { content: '\e886'; } 
.iconx-mic:before { content: '\e887'; } 
.iconx-mute:before { content: '\e888'; } 
.iconx-volume-off:before { content: '\e889'; } 
.iconx-volume-down:before { content: '\e88a'; } 
.iconx-volume-up:before { content: '\e88b'; } 
.iconx-headphones:before { content: '\e88c'; } 
.iconx-clock:before { content: '\e88d'; } 
.iconx-lightbulb:before { content: '\e88e'; } 
.iconx-block:before { content: '\e88f'; } 
.iconx-resize-full:before { content: '\e890'; } 
.iconx-resize-full-alt:before { content: '\e891'; } 
.iconx-resize-small:before { content: '\e892'; } 
.iconx-resize-vertical:before { content: '\e893'; } 
.iconx-resize-horizontal:before { content: '\e894'; } 
.iconx-move:before { content: '\e895'; } 
.iconx-zoom-in:before { content: '\e896'; } 
.iconx-zoom-out:before { content: '\e897'; } 
.iconx-down-circled2:before { content: '\e898'; } 
.iconx-up-circled2:before { content: '\e899'; } 
.iconx-left-circled2:before { content: '\e89a'; } 
.iconx-right-circled2:before { content: '\e89b'; } 
.iconx-down-dir:before { content: '\e89c'; } 
.iconx-up-dir:before { content: '\e89d'; } 
.iconx-left-dir:before { content: '\e89e'; } 
.iconx-right-dir:before { content: '\e89f'; } 
.iconx-down-open:before { content: '\e8a0'; } 
.iconx-left-open:before { content: '\e8a1'; } 
.iconx-right-open:before { content: '\e8a2'; } 
.iconx-up-open:before { content: '\e8a3'; } 
.iconx-angle-left:before { content: '\e8a4'; } 
.iconx-angle-right:before { content: '\e8a5'; } 
.iconx-angle-up:before { content: '\e8a6'; } 
.iconx-angle-down:before { content: '\e8a7'; } 
.iconx-angle-circled-left:before { content: '\e8a8'; } 
.iconx-angle-circled-right:before { content: '\e8a9'; } 
.iconx-angle-circled-up:before { content: '\e8aa'; } 
.iconx-angle-circled-down:before { content: '\e8ab'; } 
.iconx-angle-double-left:before { content: '\e8ac'; } 
.iconx-angle-double-right:before { content: '\e8ad'; } 
.iconx-angle-double-up:before { content: '\e8ae'; } 
.iconx-angle-double-down:before { content: '\e8af'; } 
.iconx-down:before { content: '\e8b0'; } 
.iconx-left:before { content: '\e8b1'; } 
.iconx-right:before { content: '\e8b2'; } 
.iconx-up:before { content: '\e8b3'; } 
.iconx-down-big:before { content: '\e8b4'; } 
.iconx-left-big:before { content: '\e8b5'; } 
.iconx-right-big:before { content: '\e8b6'; } 
.iconx-up-big:before { content: '\e8b7'; } 
.iconx-right-hand:before { content: '\e8b8'; } 
.iconx-left-hand:before { content: '\e8b9'; } 
.iconx-up-hand:before { content: '\e8ba'; } 
.iconx-down-hand:before { content: '\e8bb'; } 
.iconx-left-circled:before { content: '\e8bc'; } 
.iconx-right-circled:before { content: '\e8bd'; } 
.iconx-up-circled:before { content: '\e8be'; } 
.iconx-down-circled:before { content: '\e8bf'; } 
.iconx-cw:before { content: '\e8c0'; } 
.iconx-ccw:before { content: '\e8c1'; } 
.iconx-arrows-cw:before { content: '\e8c2'; } 
.iconx-level-up:before { content: '\e8c3'; } 
.iconx-level-down:before { content: '\e8c4'; } 
.iconx-shuffle:before { content: '\e8c5'; } 
.iconx-exchange:before { content: '\e8c6'; } 
.iconx-history:before { content: '\e8c7'; } 
.iconx-expand:before { content: '\e8c8'; } 
.iconx-collapse:before { content: '\e8c9'; } 
.iconx-expand-right:before { content: '\e8ca'; } 
.iconx-collapse-left:before { content: '\e8cb'; } 
.iconx-play:before { content: '\e8cc'; } 
.iconx-play-circled:before { content: '\e8cd'; } 
.iconx-play-circled2:before { content: '\e8ce'; } 
.iconx-stop:before { content: '\e8cf'; } 
.iconx-pause:before { content: '\e8d0'; } 
.iconx-to-end:before { content: '\e8d1'; } 
.iconx-to-end-alt:before { content: '\e8d2'; } 
.iconx-to-start:before { content: '\e8d3'; } 
.iconx-to-start-alt:before { content: '\e8d4'; } 
.iconx-fast-fw:before { content: '\e8d5'; } 
.iconx-fast-bw:before { content: '\e8d6'; } 
.iconx-eject:before { content: '\e8d7'; } 
.iconx-target:before { content: '\e8d8'; } 
.iconx-signal:before { content: '\e8d9'; } 
.iconx-award:before { content: '\e8da'; } 
.iconx-desktop:before { content: '\e8db'; } 
.iconx-laptop:before { content: '\e8dc'; } 
.iconx-tablet:before { content: '\e8dd'; } 
.iconx-mobile:before { content: '\e8de'; } 
.iconx-inbox:before { content: '\e8df'; } 
.iconx-globe:before { content: '\e8e0'; } 
.iconx-sun:before { content: '\e8e1'; } 
.iconx-cloud:before { content: '\e8e2'; } 
.iconx-flash:before { content: '\e8e3'; } 
.iconx-moon:before { content: '\e8e4'; } 
.iconx-umbrella:before { content: '\e8e5'; } 
.iconx-flight:before { content: '\e8e6'; } 
.iconx-fighter-jet:before { content: '\e8e7'; } 
.iconx-paper-plane:before { content: '\e8e8'; } 
.iconx-paper-plane-empty:before { content: '\e8e9'; } 
.iconx-space-shuttle:before { content: '\e8ea'; } 
.iconx-leaf:before { content: '\e8eb'; } 
.iconx-font:before { content: '\e8ec'; } 
.iconx-bold:before { content: '\e8ed'; } 
.iconx-italic:before { content: '\e8ee'; } 
.iconx-header:before { content: '\e8ef'; } 
.iconx-paragraph:before { content: '\e8f0'; } 
.iconx-text-height:before { content: '\e8f1'; } 
.iconx-text-width:before { content: '\e8f2'; } 
.iconx-align-left:before { content: '\e8f3'; } 
.iconx-align-center:before { content: '\e8f4'; } 
.iconx-align-right:before { content: '\e8f5'; } 
.iconx-align-justify:before { content: '\e8f6'; } 
.iconx-list:before { content: '\e8f7'; } 
.iconx-indent-left:before { content: '\e8f8'; } 
.iconx-indent-right:before { content: '\e8f9'; } 
.iconx-list-bullet:before { content: '\e8fa'; } 
.iconx-list-numbered:before { content: '\e8fb'; } 
.iconx-strike:before { content: '\e8fc'; } 
.iconx-underline:before { content: '\e8fd'; } 
.iconx-superscript:before { content: '\e8fe'; } 
.iconx-subscript:before { content: '\e8ff'; } 
.iconx-table:before { content: '\e900'; } 
.iconx-columns:before { content: '\e901'; } 
.iconx-crop:before { content: '\e902'; } 
.iconx-scissors:before { content: '\e903'; } 
.iconx-paste:before { content: '\e904'; } 
.iconx-briefcase:before { content: '\e905'; } 
.iconx-suitcase:before { content: '\e906'; } 
.iconx-ellipsis:before { content: '\e907'; } 
.iconx-ellipsis-vert:before { content: '\e908'; } 
.iconx-off:before { content: '\e909'; } 
.iconx-road:before { content: '\e90a'; } 
.iconx-list-alt:before { content: '\e90b'; } 
.iconx-qrcode:before { content: '\e90c'; } 
.iconx-barcode:before { content: '\e90d'; } 
.iconx-book:before { content: '\e90e'; } 
.iconx-ajust:before { content: '\e90f'; } 
.iconx-tint:before { content: '\e910'; } 
.iconx-check:before { content: '\e911'; } 
.iconx-check-empty:before { content: '\e912'; } 
.iconx-circle:before { content: '\e913'; } 
.iconx-circle-empty:before { content: '\e914'; } 
.iconx-circle-thin:before { content: '\e915'; } 
.iconx-circle-notch:before { content: '\e916'; } 
.iconx-dot-circled:before { content: '\e917'; } 
.iconx-asterisk:before { content: '\e918'; } 
.iconx-gift:before { content: '\e919'; } 
.iconx-fire:before { content: '\e91a'; } 
.iconx-magnet:before { content: '\e91b'; } 
.iconx-chart-bar:before { content: '\e91c'; } 
.iconx-ticket:before { content: '\e91d'; } 
.iconx-credit-card:before { content: '\e91e'; } 
.iconx-floppy:before { content: '\e91f'; } 
.iconx-megaphone:before { content: '\e920'; } 
.iconx-hdd:before { content: '\e921'; } 
.iconx-key:before { content: '\e922'; } 
.iconx-fork:before { content: '\e923'; } 
.iconx-rocket:before { content: '\e924'; } 
.iconx-bug:before { content: '\e925'; } 
.iconx-certificate:before { content: '\e926'; } 
.iconx-tasks:before { content: '\e927'; } 
.iconx-filter:before { content: '\e928'; } 
.iconx-beaker:before { content: '\e929'; } 
.iconx-magic:before { content: '\e92a'; } 
.iconx-cab:before { content: '\e92b'; } 
.iconx-taxi:before { content: '\e92c'; } 
.iconx-truck:before { content: '\e92d'; } 
.iconx-money:before { content: '\e92e'; } 
.iconx-euro:before { content: '\e92f'; } 
.iconx-pound:before { content: '\e930'; } 
.iconx-dollar:before { content: '\e931'; } 
.iconx-rupee:before { content: '\e932'; } 
.iconx-yen:before { content: '\e933'; } 
.iconx-rouble:before { content: '\e934'; } 
.iconx-try:before { content: '\e935'; } 
.iconx-won:before { content: '\e936'; } 
.iconx-bitcoin:before { content: '\e937'; } 
.iconx-sort:before { content: '\e938'; } 
.iconx-sort-down:before { content: '\e939'; } 
.iconx-sort-up:before { content: '\e93a'; } 
.iconx-sort-alt-up:before { content: '\e93b'; } 
.iconx-sort-alt-down:before { content: '\e93c'; } 
.iconx-sort-name-up:before { content: '\e93d'; } 
.iconx-sort-name-down:before { content: '\e93e'; } 
.iconx-sort-number-up:before { content: '\e93f'; } 
.iconx-sort-number-down:before { content: '\e940'; } 
.iconx-hammer:before { content: '\e941'; } 
.iconx-gauge:before { content: '\e942'; } 
.iconx-sitemap:before { content: '\e943'; } 
.iconx-spinner:before { content: '\e944'; } 
.iconx-coffee:before { content: '\e945'; } 
.iconx-food:before { content: '\e946'; } 
.iconx-beer:before { content: '\e947'; } 
.iconx-user-md:before { content: '\e948'; } 
.iconx-stethoscope:before { content: '\e949'; } 
.iconx-ambulance:before { content: '\e94a'; } 
.iconx-medkit:before { content: '\e94b'; } 
.iconx-h-sigh:before { content: '\e94c'; } 
.iconx-hospital:before { content: '\e94d'; } 
.iconx-building:before { content: '\e94e'; } 
.iconx-building-filled:before { content: '\e94f'; } 
.iconx-bank:before { content: '\e950'; } 
.iconx-smile:before { content: '\e951'; } 
.iconx-frown:before { content: '\e952'; } 
.iconx-meh:before { content: '\e953'; } 
.iconx-anchor:before { content: '\e954'; } 
.iconx-terminal:before { content: '\e955'; } 
.iconx-eraser:before { content: '\e956'; } 
.iconx-puzzle:before { content: '\e957'; } 
.iconx-shield:before { content: '\e958'; } 
.iconx-extinguisher:before { content: '\e959'; } 
.iconx-bullseye:before { content: '\e95a'; } 
.iconx-wheelchair:before { content: '\e95b'; } 
.iconx-language:before { content: '\e95c'; } 
.iconx-graduation-cap:before { content: '\e95d'; } 
.iconx-paw:before { content: '\e95e'; } 
.iconx-spoon:before { content: '\e95f'; } 
.iconx-cube:before { content: '\e960'; } 
.iconx-cubes:before { content: '\e961'; } 
.iconx-recycle:before { content: '\e962'; } 
.iconx-tree:before { content: '\e963'; } 
.iconx-database:before { content: '\e964'; } 
.iconx-lifebuoy:before { content: '\e965'; } 
.iconx-rebel:before { content: '\e966'; } 
.iconx-empire:before { content: '\e967'; } 
.iconx-bomb:before { content: '\e968'; } 
.iconx-adn:before { content: '\e969'; } 
.iconx-android:before { content: '\e96a'; } 
.iconx-apple:before { content: '\e96b'; } 
.iconx-behance:before { content: '\e96c'; } 
.iconx-behance-squared:before { content: '\e96d'; } 
.iconx-bitbucket:before { content: '\e96e'; } 
.iconx-bitbucket-squared:before { content: '\e96f'; } 
.iconx-codeopen:before { content: '\e970'; } 
.iconx-css3:before { content: '\e971'; } 
.iconx-delicious:before { content: '\e972'; } 
.iconx-deviantart:before { content: '\e973'; } 
.iconx-digg:before { content: '\e974'; } 
.iconx-dribbble:before { content: '\e975'; } 
.iconx-dropbox:before { content: '\e976'; } 
.iconx-drupal:before { content: '\e977'; } 
.iconx-facebook:before { content: '\e978'; } 
.iconx-facebook-squared:before { content: '\e979'; } 
.iconx-flickr:before { content: '\e97a'; } 
.iconx-foursquare:before { content: '\e97b'; } 
.iconx-git-squared:before { content: '\e97c'; } 
.iconx-git:before { content: '\e97d'; } 
.iconx-github:before { content: '\e97e'; } 
.iconx-github-squared:before { content: '\e97f'; } 
.iconx-github-circled:before { content: '\e980'; } 
.iconx-gittip:before { content: '\e981'; } 
.iconx-google:before { content: '\e982'; } 
.iconx-gplus:before { content: '\e983'; } 
.iconx-gplus-squared:before { content: '\e984'; } 
.iconx-hacker-news:before { content: '\e985'; } 
.iconx-html5:before { content: '\e986'; } 
.iconx-instagramm:before { content: '\e987'; } 
.iconx-joomla:before { content: '\e988'; } 
.iconx-jsfiddle:before { content: '\e989'; } 
.iconx-linkedin-squared:before { content: '\e98a'; } 
.iconx-linux:before { content: '\e98b'; } 
.iconx-linkedin:before { content: '\e98c'; } 
.iconx-maxcdn:before { content: '\e98d'; } 
.iconx-openid:before { content: '\e98e'; } 
.iconx-pagelines:before { content: '\e98f'; } 
.iconx-pied-piper-squared:before { content: '\e990'; } 
.iconx-pied-piper-alt:before { content: '\e991'; } 
.iconx-pinterest-circled:before { content: '\e992'; } 
.iconx-pinterest-squared:before { content: '\e993'; } 
.iconx-qq:before { content: '\e994'; } 
.iconx-reddit:before { content: '\e995'; } 
.iconx-reddit-squared:before { content: '\e996'; } 
.iconx-renren:before { content: '\e997'; } 
.iconx-skype:before { content: '\e998'; } 
.iconx-slack:before { content: '\e999'; } 
.iconx-soundclowd:before { content: '\e99a'; } 
.iconx-spotify:before { content: '\e99b'; } 
.iconx-stackexchange:before { content: '\e99c'; } 
.iconx-stackoverflow:before { content: '\e99d'; } 
.iconx-steam:before { content: '\e99e'; } 
.iconx-steam-squared:before { content: '\e99f'; } 
.iconx-stumbleupon:before { content: '\e9a0'; } 
.iconx-stumbleupon-circled:before { content: '\e9a1'; } 
.iconx-tencent-weibo:before { content: '\e9a2'; } 
.iconx-trello:before { content: '\e9a3'; } 
.iconx-tumblr:before { content: '\e9a4'; } 
.iconx-tumblr-squared:before { content: '\e9a5'; } 
.iconx-twitter-squared:before { content: '\e9a6'; } 
.iconx-twitter:before { content: '\e9a7'; } 
.iconx-vimeo-squared:before { content: '\e9a8'; } 
.iconx-vine:before { content: '\e9a9'; } 
.iconx-vkontakte:before { content: '\e9aa'; } 
.iconx-wechat:before { content: '\e9ab'; } 
.iconx-weibo:before { content: '\e9ac'; } 
.iconx-windows:before { content: '\e9ad'; } 
.iconx-wordpress:before { content: '\e9ae'; } 
.iconx-xing:before { content: '\e9af'; } 
.iconx-xing-squared:before { content: '\e9b0'; } 
.iconx-youtube:before { content: '\e9b1'; } 
.iconx-yahoo:before { content: '\e9b2'; } 
.iconx-youtube-squared:before { content: '\e9b3'; } 
.iconx-youtube-play:before { content: '\e9b4'; } 
.iconx-blank:before { content: '\e9b5'; } 
.iconx-lemon:before { content: '\e9b6'; } 